<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for Contacts</title>
</head>
<body>

<h1>Find contact by name</h1>
<form action="#" th:action="@{/search}" th:object="${contact}" method="post">

    <p> Last Name: <input type="text" th:field="*{lastName}"></p>
    <p><input type="submit" value="Search"/><input type="reset" value="Reset"></p>
    </form>

<a href="/">Go to index page</a>

<a href="/submission-form">Add new contact</a>
<br>
<a href="/remove">Remove contact</a>
<br>
<a href="/search">Find contact</a>
<br>
<a href="/database">View contacts database</a>
<br>

</body>
</html>