<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phonebook Submission Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Submit Contact</h1>


<form action="#" th:action="@{/submission-form}" th:object="${contact}" method="post">
    <p> First Name: <input type="text" th:field="*{firstName}"></p>
    <p> Last Name: <input type="text" th:field="*{lastName}"></p>
    <p> Email Adress: <input type="text" th:field="*{email}"></p>
    <p> Phone Number: <input type="text" th:field="*{phoneNumber}"></p>
    <p><input type="submit" value="Submit"/><input type="reset" value="Reset"></p>
</form>

<a href="/database">Go to database</a>
<br>
<a href="/">Go to index page</a>
</body>
</html>